.samples
  margin-top: 50px
  position: absolute
.beat-container
  width: 30px
  height: 30px
  padding: 2px
  margin: 2px
  float: left
  background-color: #efefef

.on
  background-color: #881111

.play, .stop
  margin-top: 5px
  cursor: pointer
